# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# MLflow
mlflow.db
mlruns/

# Model artifacts (keep only small pkl files if needed)
*.pt
*.ckpt
*.h5

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Docker
*.log
