# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# ML artifacts / data
*.pkl
*.joblib
mlflow.db
flights.csv

# MLflow
mlruns/

# Jupyter
.ipynb_checkpoints/

# OS / IDE
.vscode/
.idea/
.DS_Store
Thumbs.db

# Docker
*.log

# Airflow
airflow-docker/logs/
airflow-docker/plugins/__pycache__/

# Kubernetes
*.tar
